<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find walkie_description)/urdf/walkie/base/base.gazebo.xacro"/>
  <xacro:include filename="$(find walkie_description)/urdf/inertial_macros.xacro"/>
  <xacro:include filename="$(find walkie_description)/urdf/color.xacro"/>
  <xacro:property name="bass_thickness" value="0.008"/>
  <xacro:property name="base_radian" value="0.040"/>
  <xacro:property name="base_mass" value="20.2"/>
  <xacro:macro name="base_v0" params="parent *joint_origin">
    <joint name="base_link_joint" type="fixed">
      <xacro:insert_block name="joint_origin"/>
      <parent link="${parent}"/>
      <child link="base_link"/>
    </joint>
    <link name="base_link">
      <visual>
        <geometry>
          <!-- <mesh filename="package://walkie_description/meshes/walkie/base_link.dae"/> -->
          <mesh filename="package://walkie_description/meshes/walkie/base_link.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://walkie_description/meshes/walkie/base_link_collision.stl"/>
        </geometry>
      </collision>
      <xacro:inertial_cylinder mass="${base_mass}" length="${bass_thickness}" radius="${base_radian}">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_cylinder>
    </link>
  </xacro:macro>
</robot>
