<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find walkie_description)/urdf/walkie/lidar/lidar.gz.xacro" />

  <xacro:macro name="lidar_v0" params="prefix parent *joint_origin">
    <joint name="${prefix}_lidar_joint" type="fixed">
      <xacro:insert_block name="joint_origin" />
      <parent link="${parent}" />
      <child link="${prefix}_lidar_link" />
    </joint>
    <link name="${prefix}_lidar_link">
    </link>
  </xacro:macro>
</robot>
